
# ======== Agents & IDE =========
/.idea/
/.opencode/
/.claude/
/.codex/

# ============ Build ============
/cmake-build*/
/build*/
/benchmarks/results/
__pycache__/

# ============= WIP =============
/docs/*
!/docs/TemplateStyle.md